html,body {
	overflow:hidden
}

body {
	background-position: center top;
	width: 1188px;
	height: 548px;
	display: table;
	margin: 0;
	padding: 0;
	font-family: droidserif-regular-webfont,serif;
	font-size: 15px
}

#content_wrapper {
	width: 1057px;
	height: 548px;
	margin: 0 auto
}

.toggleLink {
	color: #ddd;
	height: 25px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	margin: 6px 25px -6px;
	font-size: 14px

}

#toggleLinkClose {
	display:none
}

.scrollbar {
	display:none;
	position:relative;
	top:-20px;height:151px;
	overflow-y:scroll
}

#toggle::-webkit-scrollbar {
	width:11px;
	background-color:#57250c
}

#toggle::-webkit-scrollbar-thumb{
	background-color:#391505;
	border-radius:10px;
	border:1px solid #78401d
}

#toggle::-webkit-scrollbar-thumb:hover{
	background-color:#810909;
	border:2px solid #333
}

#toggle::-webkit-scrollbar-thumb:active{
	background-color:#810909;border:2px solid #333
}

#toggle::-webkit-scrollbar-track{
	border:1px #847b63 solid;
	border-radius:1px;
	-webkit-box-shadow:0 0 1px #f4cc6a inset
}

_:-ms-fullscreen,:root .ie{
	scrollbar-base-color:bisque;
	scrollbar-arrow-color:#810909;
	border-color:#810909
}

.navi li{
	display:inline;
	list-style-type:none
}

.navi a{
	color:#f4cc6a;
	text-decoration:none
}

#navi1{
	margin-bottom:4px
}

#navi2{
	margin-top:-1px
}

#navi2 img{
	position:relative;
	top:4px;
	border:0
}

#navi_wrapper1{
	border-bottom:1px solid #7a4e21;
	margin-top:10px
}

#navi_wrapper1 li{
	font-size:20px
}

#navi_wrapper2 li {
	font-size:14px
}

#navi_wrapper2 {
	float:left
}

#navi_wrapper1, #navi_wrapper2 {
	width:650px
}

#navi_wrapper1 ul li a:hover, #navi_wrapper2 ul li a:hover {
	color:#fff9d5
}

#rss {
	background:rgba(0,0,0,.3);
	width:421px;
	height:30px;
	float:right;
	color:#ddd;
	padding-top:4px;
	font-size:13px;
	font-family:sans-serif,Arial,Helvetica;
	border:1px solid #847b63;
	position:absolute;
	display:table;
	left:696px;
	z-index:100
}

#rss h3{
	font-size:14px;
	padding:5px 0 0 25px
}
#rss img {
	float:right;
	margin-right:-6px
}

#rss a {
	height:16px
}

#rss a, .caption{
	color:#f4cb42
}

#rss:hover, #rss:active {
	background-color:rgba(0,0,0,.5)
}

li:not(:last-child) {
	margin-bottom:-5px
}

#news ul li p {
	color:#ddd;
	width:431px
}

.clearfix:after {
	content:".";
	clear:both;
	display:block;
	visibility:hidden;
	height:0
}

.panel_wrapper ul{
	margin:0;
	padding:0;
	list-style:none;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:0
}

.panel_wrapper ul li{
	margin-top:30px;
	height:309px;
	float:left;
	display:inline;
	list-style-type:none;
	overflow:hidden
}

.panel_wrapper li a {
	display:block
}

#toggleLink_wrapper {
	height:30px;
	width:421px;
	cursor:pointer;
	position:absolute
}

.toggleLink img{
	border:0
}

.panel_wrapper li img{
	border:0;
	outline:0
}

@font-face {
	font-family: droidserif-regular-webfont;
	src: url(../fonts/DroidSerif.ttf) format('ttf'), url(../fonts/DroidSerif.eot) format('eot'),url(../fonts/DroidSerif.woff) format('woff')
}

.panel_wrapper{
	position:relative;
	text-align:center!important;
	width:100%
}

.panel {
	border:1px solid #716c5a;
	padding:2px;
	background:#0c0602;
	position:relative;
	margin:0 5px 0 0
}

.panel_wrapper .caption {
	background:rgba(0,0,0,0.6);
	bottom:0;
	left:0;
	right:0;
	padding:0 15px 20px 15px;
	position:absolute;
	height:115px;
	text-decoration:none
}

.caption p{
	color:#f4cb42
}

.caption h3{
	text-transform:uppercase
}

.navi{
	margin:0;
	padding:0
}

.navi li{
	margin:0 15px 0 0
}

.navi .first_li{
	margin-left:0
}

#double{
	padding:0 184px
}

#single-single{
	padding:0 170px
}

#single-single li:nth-child(2){
	left:7px
}

#single{
	padding:0 354px
}

*+html body{
	background-position:0 0
}

*+html #rss,*+html .panel_wrapper .caption{
	background:url(../images/caption.png)
}

*+html .toggleLink img{
	margin-top:-15px
}

#rss,.panel_wrapper .caption{
	background:url(../images/caption.png)\0/
}

html[dir="rtl"] body{
	background-position:center top
}

html[dir="rtl"] #navi_wrapper2{
	float:right
}

html[dir="rtl"] #rss{
	float:left;
	right:696px;
	left:0
}

html[dir="rtl"] #rss h3{
	padding:5px 25px 0 0
}

html[dir="rtl"] #rss img{
	float:left;
	margin-right:0;
	margin-left:-5px
}

html[dir="rtl"] .panel_wrapper ul li {
	float: right
}

html[dir="rtl"] .panel {
	margin: 14px 5px 0 0
}

html[dir="rtl"] #single-single li:nth-child(2) {
	left: 0;
	right: 7px
}